---
combined: true
---

- files = ['/assets/javascripts/modernizr-1.6.min/', '/assets/javascripts/jquery-1.8.1.min/', '/assets/javascripts/jquery.cookie/', '/assets/javascripts/jquery.bbq.min/', '/assets/javascripts/site/', '/assets/javascripts/api/']
= min_js(files)
