---
combined: true
---

- files = ['/assets/javascripts/shCore/', '/assets/javascripts/shBrushSass/', '/assets/javascripts/shBrushCss/', '/assets/javascripts/shBrushXml/', '/assets/javascripts/shBrushPlain/']
= min_js(files)
