!!!5
%html.no-js{:dir => "ltr", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title
      #{@item[:title]} | Compass API
    %link{:charset => "utf-8", :href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #wrap
      #page
        = yield
    %script(src="js/core.js")
    %script(src="js/add.js" deferred)
    %script(src="js/sh.js" deferred)
    = render "partials/analytics"
